AUTH_TRUST_HOST=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://tumlab-api.talentum.edu.co
AUTH_SECRET="rzGLlMLlm5HSIWymkcuzclsNQanqad1a198f3aoTUkA="
DOCKER_API="http://localhost:2375"
EXPIRE_SESSION="3600"
NEXT_PUBLIC_BLOCKED_CONTAINER="/tumlab_api"